    * {
        box-sizing: border-box;
    }
    
    body,
    html {
        background-color: rgb(255, 255, 255);
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    
    header {
        position: sticky;
        height: 50px;
        width: 100%;
        z-index: 99;
        background: linear-gradient(0deg, rgb(241, 241, 241) 0%, rgba(250, 250, 250, 1) 0%, rgb(241, 241, 241) 100%);
        border-bottom: 1px rgb(241, 241, 241) outset;
    }
    
    .navbar {
        width: 100%;
    }
    
    .activePage {
        border-bottom: 1px #888 inset;
    }
    
    .logoContainer {
        position: relative;
        float: left;
        width: 20%;
        height: 50px;
        display: flex;
        justify-content: center;
    }
    
    #navbarLogo img {
        margin: 10px;
        width: auto;
        height: 30px;
    }
    
    #navbarLogo img:hover {
        opacity: 0.8;
        transform: scale(1.05);
        transition: 50ms ease-in;
    }
    
    .navbarLinks {
        float: left;
        position: relative;
        width: 50%;
        height: 50px;
    }
    
    .navbarLinks ul {
        list-style-type: none;
        margin: 15px 0px;
        padding: 0;
        text-align: right;
    }
    
    li {
        display: inline;
        margin: 0px 20px 0px 10px;
    }
    
    .navbarLinks li a {
        text-decoration: none;
        font-family: Lato;
        font-weight: 600;
        color: rgb(131, 131, 131);
        font-size: 1.2em;
    }
    
    .navbarLinks li a:hover {
        opacity: 0.5;
        transition: 50ms ease-in;
    }
    
    #loginBtn {
        width: 18px;
        height: 18px;
    }
    
    #loginBtn img {
        width: 18px;
        height: 18px;
    }
    
    #loginBtn img:hover {
        opacity: 0.7;
    }
    
    .navbarFunctions {
        float: right;
        width: 25%;
        height: 50px;
    }
    
    .navbarFunctions ul {
        list-style-type: none;
        margin: 15px 0px;
        padding: 0;
        text-align: right;
    }
    
    .navbarFunctions li {
        display: inline;
        float: left;
    }
    
    #navbarCart img:hover {
        opacity: 0.7;
    }
    
    #navbarCart img {
        width: 20px;
        height: 20px;
    }
    
    footer {
        bottom: 0%;
        height: 80px;
        width: 100%;
        background-color: rgb(235, 232, 232);
        margin: 10px 0 0 0;
        padding: 0;
        z-index: 99;
        text-align: center;
        border-top: 1px #999 outset;
    }
    
    footer a {
        color: rgb(153, 153, 153);
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    footer p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(153, 153, 153);
    }
    
    .homepageContainer {
        display: flex;
        justify-content: center;
        width: 95%;
        height: auto;
        margin: 0 auto;
    }
    
    .women-collection {
        float: left;
        width: 400px;
        max-height: 700px;
        margin: 10px;
        position: relative;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    
    .women-collection li img {
        max-height: 500px;
        max-width: 300px;
        border-radius: 6px;
    }
    
    .women-collection #image-bottom {
        max-width: 300px;
        max-height: 500px;
    }
    
    .women-collection #image-front {
        max-width: 200px;
    }
    
    .women-collection li:nth-child(1) {
        grid-column: 1/4;
        grid-row: 1/5;
    }
    
    .women-collection li:nth-child(2) {
        grid-column: 3/5;
        grid-row: 4/6;
    }
    
    .men-collection li img {
        max-height: 500px;
        max-width: 300px;
        border-radius: 6px;
    }
    
    .men-collection #image-bottom1 {
        max-width: 300px;
        max-height: 500px;
    }
    
    .men-collection #image-front1 {
        max-width: 200px;
    }
    
    .men-collection {
        float: right;
        margin: 10px;
        width: 400px;
        max-height: 700px;
        position: relative;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    
    .men-collection li:nth-child(1) {
        grid-column: -2/5;
        grid-row: 1/5;
    }
    
    .men-collection li:nth-child(2) {
        grid-column: 1/3;
        grid-row: 4/6;
    }
    
    .clearFix {
        float: none;
    }
    
    .container2 {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .women-men {
        width: 800px;
        height: 400px;
        position: relative;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    
    #image-bottom2 {
        max-width: 400px;
        border-radius: 6px;
    }
    
    #image-front2 {
        max-width: 400px;
        border-radius: 6px;
    }
    
    #image-bottom2,
    li:nth-child(1) {
        grid-column: 2/4;
        grid-row: 1/3;
    }
    
    #image-front2,
    li:nth-child(2) {
        grid-column: 3/-1;
        grid-row: 3/5;
    }
    
    .container {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px;
    }
    
    .zigzag-row {
        width: 95%;
        max-width: 1000px;
        max-height: 700px;
        position: relative;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    
    .zigzag-row img {
        width: 100%;
        height: 90%;
        border-radius: 6px;
    }
    
    .zigzag-row,
    li:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/3;
    }
    
    .zigzag-row,
    li:nth-child(2) {
        grid-column: 3/5;
        grid-row: 2/5;
    }
    
    .zigzag-row,
    li:nth-child(3) {
        grid-column: 5/7;
        grid-row: 1/3;
    }
    
    .zigzag-row,
    li:nth-child(4) {
        grid-column: 7/-1;
        grid-row: 2/5;
    }
    
    #sectionHeader {
        text-align: center;
        font-family: Lato;
    }
    
    #cardHeader {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: Lato;
        font-weight: 600;
    }
    
    #cardPrice {
        text-align: center;
        margin: 5px 0;
        padding: 0;
        font-family: Lato;
        font-size: 0.9em;
        font-weight: 600;
        color: rgb(201, 201, 201)
    }
    
    .zigzag-row img:hover {
        opacity: 0.9;
        transform: scale(1.01);
    }
    /* ---------------- ARTICLE CONTAINER ------------ */
    
    .article-image-container {
        position: relative;
        display: flex;
        float: left;
        width: 45%;
        max-height: 700px;
        /*  margin: 0 auto; */
        margin: 0 5px;
        padding: 5px;
    }
    
    .article-info-container {
        float: right;
        width: 45%;
        height: 700px;
        /*  margin: 0 auto; */
        padding: 5px;
        margin: 0 5px;
    }
    
    .article-info-container #article-title {
        text-align: left;
        font-family: Lato;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: 50px;
    }
    
    .article-info-container #article-price {
        font-family: Lato;
        color: rgb(126, 124, 124);
        margin-bottom: 100px;
    }
    
    .article-info-container #article-details {
        max-width: 400px;
        font-family: Lato;
        font-weight: 600;
        margin-bottom: 50px;
    }
    
    .article-cart-form {
        font-family: Lato;
        max-width: 400px;
        font-weight: 600;
        color: rgb(163, 161, 161);
        display: flex;
        /* flex-direction: column; */
    }
    
    .article-cart-form #article-amount {
        width: 50px;
        height: 50px;
        margin-right: 25px;
        border-radius: 6px;
        outline-style: none;
    }
    
    .article-cart-form #article-amount-label {
        padding: 15px;
        float: left;
    }
    
    .article-cart-form #article-submit-btn {
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 5px;
        font-family: Lato;
        font-weight: 600;
        font-size: 1em;
        color: rgb(216, 216, 216);
        text-transform: uppercase;
        background-color: rgb(82, 81, 81);
    }
    
    .article-cart-form #article-submit-btn:hover {
        opacity: 0.9;
        cursor: pointer;
    }
    
    .article-cart-form #article-submit-btn img {
        width: 20px;
        height: auto;
        float: left;
    }
    
    .article-id-info {
        font-family: Lato;
        font-weight: 600;
    }
    
    .article-id-info label {
        float: left;
        margin-right: 3px;
    }
    /* THUMBNAIL IMG */
    
    .container1 {
        position: relative;
        height: 660px;
        width: 960px;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .container1 a {
        float: left;
        margin: 2%;
    }
    
    .big {
        position: absolute;
        display: flex;
        border-radius: 6px;
        top: 900px;
        right: 10%;
        /*   max-width: 100%;
        max-height: 68%;*/
        max-width: 600px;
        max-height: 450px;
        /*  -webkit-transition: top 1s ease;
        -moz-transition: top 1s ease;
        -o-transition: top 1s ease;
        -ms-transition: top 1s ease;
        transition: top 1s ease;*/
    }
    
    .featured {
        float: none;
        top: 200px;
        right: 10%;
        z-index: 1;
        max-width: 600px;
        max-height: 450px;
    }
    
    .thumb {
        border-radius: 6px;
        max-height: 20%;
        max-width: 100%;
    }
    
    a:hover .thumb {
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }
    
    a:hover .big {
        top: 200px;
        z-index: 2;
    }
    /* --------- END OF ARTICLE CONTAINER ------- */
    /* --------------- CART CONTAINER ----------- */
    
    .container-cart {
        width: 99%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    /* --------- customer info ---------- */
    
    .customer-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px red solid;
        width: 60%;
        max-height: 800px;
        padding: 50px 10px;
    }
    
    .section-buttons-cart {
        margin: 0 auto;
        max-width: 400px;
        max-height: 50px;
    }
    
    #section-info-btn,
    #section-payment-btn,
    #section-confirm-btn {
        text-decoration: none;
        font-family: Lato;
        font-weight: 600;
        font-size: 1.3em;
        margin: 6px;
        color: rgb(180, 179, 179);
    }
    
    .sections {
        display: flex;
        float: none;
        width: 90%;
        max-width: 800px;
        max-height: 800px;
        border-top: 1px rgb(241, 241, 241) solid;
        margin: 10px auto;
        padding: 10px 2px;
        align-items: center;
    }
    
    #info-section {
        /*display: flex;*/
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    
    #info-section-form h3 {
        color: rgb(61, 61, 61);
        font-family: Lato;
        font-weight: 900;
    }
    
    #customer-mail,
    #customer-fname,
    #customer-lname,
    #customer-company,
    #customer-address,
    #customer-postal-code,
    #customer-city,
    #customer-country,
    #customer-phone {
        margin: 10px auto;
        width: 100%;
        height: 35px;
        border: 1px rgb(209, 209, 209) solid;
        border-radius: 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: rgb(117, 106, 106);
        outline-color: rgb(163, 163, 163);
    }
    
    #info-section-form #customer-info-submit,
    #payment-section-submit,
    #confirm-section-submit {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 5px;
        font-family: Lato;
        font-weight: 600;
        font-size: 1em;
        color: rgb(216, 216, 216);
        margin-top: 20px;
        text-transform: uppercase;
        background-color: rgb(82, 81, 81);
        float: right;
    }
    
    #info-section-form #customer-info-submit:hover,
    #payment-section-submit:hover,
    #confirm-section-submit:hover {
        opacity: 0.9;
        cursor: pointer;
    }
    
    #payment-section {
        /* display: */
        display: none;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    
    #payment-section h3 {
        display: flex;
        top: 0%;
        color: rgb(61, 61, 61);
        font-family: Lato;
        font-weight: 900;
    }
    
    #payment-section img {
        border: none;
        border-radius: 8px;
        max-width: 80px;
        max-height: auto;
    }
    
    #payment-section img:hover {
        opacity: 0.7;
        transform: scale(1.05);
    }
    
    #payment-section a {
        margin: 10px auto;
    }
    
    #confirm-section {
        display: none;
        flex-direction: column;
    }
    
    #confirm-section p {
        font-family: Lato;
        font-weight: 600;
        font-size: 12px;
    }
    
    #confirm-section h3 {
        display: flex;
        top: 0%;
        color: rgb(61, 61, 61);
        font-family: Lato;
        font-weight: 900;
        font-size: 1.5em;
    }
    /* ------------ /customer info ------------ */
    /* ------------ customer checkout --------- */
    
    .customer-checkout {
        display: flex;
        justify-content: center;
        border: 2px blue solid;
        width: 40%;
        max-height: 800px;
    }
    /* ------------ end of customer checkout -------- */
    
    .row {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
     ::placeholder {
        color: rgb(122, 122, 122);
    }